<div class="col-11">
  <%= form_with(model:[post, comment], local: true) do |f| %>
    <%= render 'layouts/error_messages', obj: comment %>
    <label for="comment" class="form-label mt-5">コメント(70字以内)</label>
    <%= f.text_area :comment, rows:'2', placeholder: "追加情報などありましたらコメントください", class: "form-control mb-3", id: "comment" %>
    <div class="text-end">
      <%= f.submit "コメント送信", class: "btn btn-info px-4 btn-sm" %>
    </div>
  <% end %>
</div>