<h1>新規投稿</h1>

<h2>gmap</h2>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox">
<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div class="btn-margin">
    <button id="btn" class="btn btn-outline-primary btn-lg">
        現在位置を取得する
    </button>
</div>
<div id='map'>
</div>

<style>
#map{
  height: 400px;
}
</style>

<script>
let map
let geocoder
let marker = null
// 基準値：東京都
let lat = 35.6894
let lng = 139.6917

function initMap(){
  // geocoderの初期化
  geocoder = new google.maps.Geocoder()
  // インスタンスの作成
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: {lat: lat, lng: lng}
  });
  //初期マーカー
  marker = new google.maps.Marker({
    map: map,
    position: new google.maps.LatLng(lat, lng),
  });
  document.getElementById('lat').value = lat;
  document.getElementById('lng').value = lng;
  //マーカークリック時のイベント
  map.addListener('click', function(e) {
    dragMap(e.latLng, map);
  });
}

// 現在位置取得ボタンを押した時の処理
document.getElementById("btn").onclick = function(){
  navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
};
// 取得に成功した場合の処理
function successCallback(position){
  lat = position.coords.latitude;
  lng = position.coords.longitude;
  document.getElementById("lat").value = lat;
  document.getElementById("lng").value = lng;
  map.setCenter(
    new google.maps.LatLng(lat, lng)
  );
  marker.setMap(null);
  marker = new google.maps.Marker({
    map: map,
    position: new google.maps.LatLng(lat, lng)
  });
};
// 取得に失敗した場合の処理
function errorCallback(error){
    alert("位置情報が取得できませんでした");
};

// 検索窓で検索した場合の処理
function codeAddress(){
  const inputAddress = document.getElementById('address').value;
  geocoder.geocode( {'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      let location = results[0].geometry.location;
      lat = location.lat();
      lng = location.lng();
      document.getElementById('lat').value = lat;
      document.getElementById('lng').value = lng;
      map.setCenter(location);
      marker = new google.maps.Marker({
        map: map,
        position: location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

// ピンの位置を修正した場合の処理
function dragMap(geo, map) {
  lat = geo.lat();
  lng = geo.lng();
  document.getElementById('lat').value = lat;
  document.getElementById('lng').value = lng;
  //中心にスクロール
  map.setCenter(geo);
  //マーカーの更新
  marker.setMap(null);
  marker = null;
  marker = new google.maps.Marker({
    map: map,
    position: geo
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP'] %>&callback=initMap" async defer></script>
<p>Google Maps Point Marker</p>
緯度：<input type="text" id="lat" name="lat" value="" size="20">　経度：<input type="text" id="lng" name="lng" value="" size="20">
<%= render 'layouts/posts_form', post: @post %>