body {
  background-image: url('illustration.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  color: #6c757d;
  font-family: 'Sawarabi Gothic', Helvetica, Arial, sans-serif;
}