body {
  background-color: #A2C8C9;
  background-image: url('illustration.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: #6c757d;
  font-family: 'Sawarabi Gothic', Helvetica, Arial, sans-serif;
}

h1 {
  letter-spacing: 0.2em;
  background: linear-gradient(transparent 70%, #F29A72 50%);
}

label {
  background-color: white;
}

/*トップページ（ログインページの背景デザイン）*/
.top {
  height: 650px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
}

/*ヘッダーの新規投稿・投稿一覧ボタンの配置調整（レスポンシブ対応）*/
.header-button {
  margin-top: 22px;
}

@media (max-width: 1200px) {
  .header-button {
    margin-top: 0;
  }
}

/*トップページ内のログインリンク先のフォーム位置調整*/
#log-in-form {
  margin-top: 100px;
}